<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>

<main>
    <!-- Секция за показване на съобщения за грешки -->
    <div th:if="${buyCardErrorMessage}" class="alert alert-danger" role="alert"
         th:text="${buyCardErrorMessage}"></div>

    <div class="welcome mt-1 mb-4">
        <p class="mySticky bg-gray text-dark user" th:text="${'Welcome, ' + user.username} + ${' | StoneCoins -> ' + user.stoneCoin}"></p>

        <!-- Допълнително съдържание, ако има нужда, може да се добави тук -->

        <div class="row mt-1 mb-2">
            <!-- Gold Collection -->
            <div class="col-4 mt-1 mb-1">
                <div class="home-fields" style="height: 80vh; overflow: auto">
                    <h3 class="my-stamps">GOLD CARDS</h3>
                    <table class="my-table table-striped table-dark">
                        <tr th:each="systemCards : ${goldCards}" class="my-stamps">
                            <td>
                                <img th:src="${systemCards.imageUrl}" alt="Regular Card" width="70px" height="70px">
                            </td>
                            <td class="my-cell-container">
                                <div th:text="${systemCards.name}"></div>
                                <div>Power: <span th:text="${#numbers.formatInteger(systemCards.power, 0)}"></span> and Salary: <span th:text="${systemCards.price}"></span></div>
                                <div class="buttons-info">
                                    <div class="cards">
                                        <form th:action="@{'/cards/buy-card/' + ${systemCards.id}}" th:method="POST">
                                            <button class="btn-outline-info btn">Buy</button>
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <!-- Rare Collection -->
            <div class="col-4 mt-1 mb-1">
                <div class="home-fields" style="height: 80vh; overflow: auto">
                    <h3 class="my-stamps">RARE CARDS</h3>
                    <table class="my-table table-striped table-dark">
                        <tr th:each="systemCards : ${rearCards}" class="my-stamps">
                            <td>
                                <img th:src="${systemCards.imageUrl}" alt="Regular Card" width="70px" height="70px">
                            </td>
                            <td class="my-cell-container">
                                <div th:text="${systemCards.name}"></div>
                                <div>Power: <span th:text="${#numbers.formatInteger(systemCards.power, 0)}"></span> and Salary: <span th:text="${systemCards.price}"></span></div>
                                <div class="buttons-info">
                                    <div class="cards">
                                        <form th:action="@{'/cards/buy-card/' + ${systemCards.id}}" th:method="POST">
                                            <button class="btn-outline-info btn">Buy</button>
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <!-- Regular Collection -->
            <div class="col-4 mt-1 mb-1">
                <div class="home-fields" style="height: 80vh; overflow: auto">
                    <h3 class="my-stamps">COMMON CARDS</h3>
                    <table class="my-table table-striped table-dark">
                        <tr th:each="systemCards : ${commonCards}" class="my-stamps">
                            <td>
                                <img th:src="${systemCards.imageUrl}" alt="Regular Card" width="70px" height="70px">
                            </td>
                            <td class="my-cell-container">
                                <div th:text="${systemCards.name}"></div>
                                <div>Power: <span th:text="${#numbers.formatInteger(systemCards.power, 0)}"></span> and Salary: <span th:text="${systemCards.price}"></span></div>
                                <div class="buttons-info">
                                    <div class="cards">
                                        <form th:action="@{'/cards/buy-card/' + ${systemCards.id}}" th:method="POST">
                                            <button class="btn-outline-info btn">Buy</button>
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>

<footer class="footer bg-transparent py-2">
    <div class="container-fluid text-center">
        <div class="footer-background footer-text fixed-bottom">
            &copy; Borislav team 2025. Best card game.
        </div>
    </div>
</footer>

</body>
</html>
